<div class="row grids-wrapper" style="margin-bottom: 50px;">
	<div id="grid-row" class="move-up">
        {{#each model as |show|}}
            {{show-item show=show}}
        {{/each}}
	</div>
</div>
